/* custom rules */

.container {
  max-width: 680px;
}

.post {
  margin-bottom: 60px;
}

/* --- */

body  {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 1.8em;
  border-top: 10px solid #3498db;
  color: #2c3e50;
  padding-top: 30px;
}

h1, h2, h3 {
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  line-height: 1.3;
  text-align: center
}

  @media (min-width: 550px) {
    h1 {
      font-size: 6rem;
      margin-bottom: 4rem;
    }
  }

  @media (min-width: 750px) {
    h1 {
      font-size: 8rem;
      margin-bottom: 6rem;
    }
  }

h2 {
  color: #3498db;
}

h3 {
  font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;
}

.hilight {
  background: #f1c40f;
  padding: 5px;
}

li {
  list-style-position: outside;
  list-style: circle;
}

#main li {
}

.u-f-small {
  font-size: 1.8rem;
}

/*--- faces ---*/
ul.faces {
  text-align: center;
}

ul.faces li {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/

}

  .faces img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
  }
    .faces img:hover {
      border: 5px solid #f1c40f;
    }
    .faces a:link,
    a.button:link {
      border: none;
    }
    .faces a:hover,
    a.button:link {
      background: none;
    }


@media (min-width: 550px) {
  .entry, .content, article,
  .u-f-big {
    font-size: 2.4rem;
  }
}

/* links */
a:link,
a:visited,
a:active {
  text-decoration: none;
  border-bottom: 1px solid #f1c40f;
  color: #3498db;
}

a:hover {
  background: #F6D965;
  border: none;
  color: #222;
}
  a.site-avatar:hover {
    background: none;
  }

.posts a:visited {
  color: #7f8c8d
}

.button {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100px;
  margin-top: 30px;
}

a.button {
  font-size: 3rem;
}

a.button.button-primary {
  background-color: #2ecc71;
  border: #27ae60 1px solid;
}

a.button:hover.button-primary {
  background-color: #27ae60;
  border: #27ae60 1px solid;
  padding-top: 32px;
}

.consulting-btn {
  text-align: center;
}

@media (min-width: 700px) {
  .consulting-btn {
    text-align: right;
  }
}

.button-phablet {
  display: none;
  padding: 10px 15px;
}

@media (min-width: 550px) {
  .button-phablet {
    display: inline;
  }
}


img,
iframe {
  max-width: 100%;
}

iframe {margin-bottom: 30px;}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

/* masthead */

.wrapper-masthead {
  margin-bottom: 90px;
}
.wrapper-masthead a:link {
  border-bottom: none;
}
  .wrapper-masthead h1 {
    text-transform: uppercase;
  }
/* avatar */

.button-menu {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.site-avatar {
  float: none;
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  padding: 0 0 15px 0;
}

  @media (min-width: 550px) {
    .site-avatar {

    }
  }

  @media (min-width: 750px) {
    .button-menu .site-avatar {

      float: left;
      display: inline;
    }
  }

  @media (min-width: 1000px) {
    .site-avatar {
      width: 100px;
      height: 100px;
    }
  }

  .site-avatar img {
    border-radius: 50%;
  }
    a.site-avatar {
      border: none;
      }

/* site info */
.site-info {
  float: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  }

  /*@media (min-width: 700px) {
    .site-info {
      float: left;
      display: inline;
      text-align: left;
  }
}*/

/* nav */

nav {
  float: none;
  margin-top: 9px;
  display: block;
  text-align: center;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  padding: 10px 0;
  font-size: 2rem;
}

  nav a {
    margin: 0 10px;
  }

  /*@media (min-width: 700px) {
    nav {
      float: right;
      display: inline;
      margin-top: 23px;
      text-align: left;
    }*/

.welcome {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 30px;
  margin-bottom: 60px;
}

.entry,
.content {
  margin-bottom: 30px;
}

.author {
  margin-bottom: 60px;
  color: #2ecc71;
}

.about-blair {
  border-top: 1px solid #bdc3c7;
  padding-top: 60px;
  margin-bottom: 30px;
}

.older-newer {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
}


/* footer */

.footer-links ul {
    text-align: center;
    margin-top: 60px;
}

  .footer-links li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }

.footer {
  text-align: center;
  padding-top: 5px;
  color: #7f8c8d;
}

/* utility */
.u-c-txt {
  text-align: center;
}

@media (max-width: 549px) {
  .show-on-mobile {
    display: block;
  }
  .show-on-phablet {
    display: none;
  }

}

@media (min-width: 550px) {
  .show-on-mobile {
    display: none;
  }
  .show-on-phablet {
    display: block;
  }
}
